{% extends 'students/base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body">

                <h4 class="text-center mb-3">Add Student</h4>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name"
                               class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Roll Number</label>
                        <input type="text" name="roll"
                               class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <input type="text" name="Course"
                               class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email"
                               class="form-control" required>
                    </div>

                    <button class="btn btn-success w-100">
                        Save Student
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'student_list' %}">
                        ← Back to Student List
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
